# This is an autorun file for BlackICE
# We can put here our custom parameters
# to applied in every flash
# This file should be on /sdcard/blackice/autorun.txt

# Uncomment this if you want standard lcd density (BI default is 200)
#density 240
# Uncomment this if you want to setup your region GPS
# Available configurations are on /sdcard/blackice/gpsconf/
#gpsconf SPAIN
# Uncomment this if you want to setup your RIL
# Available configurations are on /sdcard/blackice/ril/
#ril HTC-RIL_2.2.1003G
# Uncomment this if you don't want boot sound
#bootsoundoff
# Uncomment this if you want to overlay an existing 
# directory hierarchy on sdcard over /system
#overlay /system /sdcard/blackice/system
# Uncomment this if you want to overlay an existing 
# directory hierarchy on sdcard over /data
#overlay /data /sdcard/blackice/data
# Uncomment this if you want to enable braviaengine
#braviaengine on
